{% extends "accounts/base.html" %}
{% load static %}
{% block content %}
   <!-- register.html -->

    <link rel="stylesheet" href="{% static 'css/ui.css' %}">
    <div class="container">
        <h2>Register</h2>
        {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_first_name">First Name:</label>
                {{ form.first_name }}
            </div>
            <div class="form-group">
                <label for="id_last_name">Last Name:</label>
                {{ form.last_name }}
            </div>
            <div class="form-group">
                <label for="id_username">Username:</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="id_email">Email:</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label for="id_password">Password:</label>
                {{ form.password }}
            </div>
            <button type="submit" class="btn">Register</button>
        </form>
    </div>


        <!-- {{ form.as_p }} -->

{% endblock content %}
    